.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

/* font-family: 'Raleway', sans-serif;
 */

.nav-list-link {
font-family: "Open Sans", sans-serif;
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 16px;
letter-spacing: 0.1em;

color: #FFFFFF;
}
